<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Index</title>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>

	<form method="post">
		<select name="topic" required></select>
		<select name="person" required></select>
		<button type="submit">Submit</button>
	</form>

	{% if data -%}
	<ul>
		{% for rel in data -%}
		<li>{{ rel.topic_name }} - [:{{ rel.rel_type }}] - {{ rel.person_name }}</li>
		{% endfor -%}
	</ul>
	{% else -%}
	<p>No results found.</p>
	{% endif -%}

	<script
		src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script type="text/javascript">
		$(function() {

			$('select[name="topic"]').select2({
				ajax: {
					url: '/topics', 
					dataType: 'json'
				}, 
				width: '25%', 
				placeholder: 'Choose a topic'
			}).change(function() {
				$('select[name="person"]').empty().trigger('change');
			});

			$('select[name="person"]').select2({
				ajax: {
					url: '/persons', 
					dataType: 'json', 
					data: function(params) {
						params.topic = $('select[name="topic"]').val();
						return params;
					} 
				}, 
				width: '25%', 
				placeholder: 'Choose a person'
			});

		});
	</script>

</body>
</html>